* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: yellow;
  text-align: center;
  color: black;
}
.deletes {
  background-color: red;
  font-weight: 400;
  border-radius: 6px;
  color: white;
  margin-left: 30%;
}
.completed {
  background-color: green;
  color: white;
  font-weight: 400;
  border-radius: 6px;
  margin-left: 5px;
}
.head {
  background-color: rgb(218, 218, 119);
  margin-left: 20%;
  margin-right: 20%;
}
.text {
  margin-top: 5%;
  font-weight: 300;
  margin-right: 3%;
  font-style: italic;
}
.diver {
  margin-bottom: 8%;
}
.crosstext {
  margin-top: 2%;
  list-style: none;
  background-color: rgb(218, 218, 119);
  margin-right: 7%;
  margin-left: 7%;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
.listed {
  margin-top: 2%;
  margin-right: 7%;
  margin-left: 7%;
  list-style: none;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
.clear {
  background-color: rgb(218, 218, 119);
  color: black;
  border-radius: 5px;
  margin-top: 10%;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
